@{
    ViewData["Title"] = "Inicio - Estación Música";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-12 text-center">
            <h2 class="margin-h2">La música es amor buscando palabras</h2>
        </div>
        <div class="col-md-6 col-12 height-row">
            <img class="image-ac-dc" src="~/img/acdc.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12 text-center">
            <img class="image-width" src="~/img/universal.jpeg" alt="">
        </div>
        <div class="col-md-6 col-12 text-center">
            <h2 class="margin-universal">Trabajamos junto a los mejores de la industria</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12 text-center">
            <h3 class="margin-sala-escape">Nueva Sala de Escape</h3>
            <p>Para tener mas informacion ir al siguiente link:</p>
            <a asp-controller="Home" asp-action="Tutorial" class="iniciarjuegobutton__tutorial btn me-auto">Tutorial</a>
        </div>
        <div class="col-md-6 col-12 text-center">
            <img style="width:100%;" src="~/img/sala-escape.jpg" alt="">
        </div>
    </div>
</div>
