@{
    ViewData["Title"] = "Felicitaciones! - Estacion Música";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
             <img class="w-100" src="~/img/sala-escape.jpg" alt="">  
        </div>
        <div class="col-md-6 col-12">
             <h2 class="text-center h2-margin-felicitaciones">Felicidades por haber terminado! Gracias por Jugar</h2> 
            <p class="text-center">Esperamos que hayas disfrutado de la experiencia!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12 text-center mb-5">
            <h2 class="mt-5">Deseamos que tu experiencia haya sido buena!</h2>
             <a asp-controller="Home" asp-action="Index" class="iniciarjuegobutton__juego btn mx-auto mt-3">Volver al menu</a>
        </div>
        <div class="col-md-6 col-12 text-center">
            <img class="w-50 mb-5" src="~/img/auriculares.svg" alt="">
        </div>
    </div>
</div>